html {
	scroll-behavior:smooth;
	overflow-x:hidden;
}

body {
	background-color: #eeeeee;
	margin-left:0px;
	margin-right:0px;
	margin-top:0px;
	margin-bottom:0px;
	font-size:20px;
}

div {
	display:inline-block;
	width:100%;
}

body > div {
	margin-left:0px;
	margin-right:0px;
}

.title {
	font-size:65px;
	font-family:"Arial";
	text-align:center;
	padding:50px;
}

.nav-sections {
	font-family:"Arial";
	width:100%;
	top:0px;
	position:fixed;
	float:center;
	display: flex;
	justify-content: space-evenly;
	overflow: hidden;
	background-color:#cccccc;
	padding: 0 2em;
	height:75px;
	margin-top:0px;
	z-index:65535;
}

.nav-sections > a {
	font-size:3vw;
	color:inherit;
	text-decoration:none;
	padding-top:20px;
	padding-bottom:0px;
	padding-right:0px;
	padding-left:0px;
}
@media screen and (min-width: 1000px) {
	.nav-sections > a {
		font-size: 30px;
	}
}

.collapsible {
	background-color: #cccccc;
	color:black;
	cursor:pointer;
	padding:18px 18px 18px 5%;
	width:80%;
	text-align:left;
	border:none;
	outline:none;
	font-size:25px;
}

.active, .collapsible:hover {
	background-color: #bbbbbb;
}

.content {
	width:70%;
	display:none;
	overflow:hidden;
	background-color:#eeeeee;
	color:#000000;
	padding:20px 5%;
}

.dropmenu {
	padding:20px 10%;
}
