html {
	scroll-behavior:smooth;
	overflow-x:hidden;
}

body {
	background-color: #eeeeee;
	margin-left:0px;
	margin-right:0px;
	margin-top:0px;
	margin-bottom:0px;
	font-size:20px;
}

div {
	display:inline-block;
	width:100%;
}

body > div {
	margin-left:0px;
	margin-right:0px;
}

.title {
	font-size:65px;
	font-family:"Arial";
	text-align:center;
	padding:100px 0px 25px;
	width:80%;
	margin:0px 10%;
	border-bottom:solid #cccccc;
}

.nav-sections {
	font-family:"Arial";
	width:100%;
	top:0px;
	position:fixed;
	display: flex;
	justify-content: space-evenly;
	overflow: hidden;
	background-color:#cccccc;
	padding:0px;
	height:75px;
	margin-top:0px;
	z-index:65535;
}

.nav-sections > a {
	font-size:2.5vw;
	color:inherit;
	text-decoration:none;
	padding-top:20px;
	padding-bottom:0px;
	padding-right:0px;
	padding-left:0px;
}
@media screen and (min-width: 1000px) {
	.nav-sections > a {
		font-size: 25px;
	}
}

.nav-sections:hover {
	background-color:#bbbbbb;
}

.links {
	display:flex;
	justify-content:space-between;
	width:50%;
	margin:30% 45% 0% 5%;
	overflow:hidden;
	height:50px;
}

.links > button {
	margin: 0px 15px;
	opacity: 0.5;
	background-color:#ccccdd;
	transition: all .2s ease-in;
	font-size:2vw;
	text-align:center;
	color:inherit;
	text-decoration:none;
	padding: 0px 0px 0px 0px;
	border-style:none;
	width:100%;
}
@media screen and (min-width: 1000px) {
	.links > button {
		font-size:20px;
	}
}

.links > button:hover {
	opacity: 0.8;
	background-color:#222222;
	color:#eeeeee;
	cursor:pointer;
}

.collapsible {
	background-color: #cccccc;
	color:black;
	cursor:pointer;
	padding:18px 18px 18px 5%;
	width:80%;
	text-align:left;
	border:none;
	outline:none;
	font-size:25px;
}

.active, .collapsible:hover {
	background-color: #bbbbbb;
}

.content {
	width:70%;
	display:none;
	overflow:hidden;
	background-color:#eeeeee;
	color:#000000;
	padding:20px 5%;
}

.dropmenu {
	padding:20px 10%;
}

.background {
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
	min-height:750px;
}

/* Schedule */
#schedule {
	overflow: hidden;
}
#schedule > .schedule-wrapper {
	max-width: 80vw;
	margin: 0 auto;
	min-height: 20rem;
}
#schedule > header > p {
	font-size: 0.7em;
	max-width: none;
	margin-top: 0.2em;
	font-style: italic;
}

/* Clock */
#clock {
    position: relative;
    float: left;
    width: 50%;
    padding-top: 50%;
}
#clock > .saturday,
#clock > .sunday {
    position: absolute;
    width: 100%;
    left: 50%;
    top: 50%;
    transition: transform 0.5s;
}
#clock > .saturday {
    transform: translate(-50%, -50%) scale(1);
}
#clock > .sunday {
    transform: translate(-50%, -50%) scale(0.9);
}
#clock > .content {
    position: absolute;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    max-height: 50%;
}
#clock > .content > .day {
    margin: 0;
}
#clock > .content > .time {
    font-size: var(--s2);
    font-weight: 500;
    margin: 10px 0;
}
#clock > .content > .ev-name {
    font-size: 80%;
    font-weight: 500;
    margin: 0;
}
#clock > .content > .location {
    font-size: 80%;
    margin: 0;
    margin-top: 10px;
}
#hour-pointer,
#minute-pointer {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 100%;
    width: 100%;
}
#hour-pointer > span,
#minute-pointer > span {
    width: 5%;
    padding-top: 11%;
    height: 100%;
    margin: 0 auto;
    display: block;
    transition: transform 0.5s;
}
#minute-pointer svg {
    transform: scale(0.5);
}

/* Schedule Table */
#schedule-table {
    position: relative;
    float: left;
    width: 50%;
    padding-top: 50%;
    font-size: var(--s-1);
}

#schedule-table header {
    color: black;
    text-align: center;
    margin-bottom: 15px;
    cursor: pointer;
}
#schedule-table header > h3 {
    display: inline;
}

#schedule-table > div {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    color: white;
    width: 80%;
}

#schedule-table > div.sunday {
    display: none;
}

#schedule-table table {
    width: calc(100% + 1px);
    max-width: unset;
}

#schedule-table .container {
    max-height: 15rem;
    border-radius: 10px;
    min-height: 13rem;
    overflow: hidden;
    background-color: var(--accent-dark);
}
#schedule-table .container > div {
    overflow-y: auto;
    overflow-x: hidden;
    height: 100%;
    max-height: 15rem;
    min-height: 13rem;
}
#schedule-table .container > div::-webkit-scrollbar-track {
    background-color: var(--accent-bright);
}
#schedule-table .container > div::-webkit-scrollbar-thumb {
    background-color: var(--accent-dark);
}
#schedule-table tbody {
    width: 100%;
    max-height: calc(15rem - 1em - 20px);
    overflow-y: auto;
    overflow-x: hidden;
}
#schedule-table tbody > tr {
    cursor: pointer;
    transition: transform 0.5s;
}
#schedule-table tbody > tr > * {
    transition: background-color 0.5s;
}
#schedule-table tbody > tr.active {
    transform: scale(1.05);
}
#schedule-table tbody > tr.active > * {
    background-color: #97dde6;
}

#schedule-table th:first-child {
    text-align: left;
}

#schedule-table td:first-child {
    text-align: right;
    white-space: nowrap;
}

#schedule-table th:last-child,
#schedule-table td:last-child {
    text-align: left;
    width: 100%;
}

#schedule-table th,
#schedule-table td {
    padding: 0.5em 1em;
    line-height: 1.2em;
}

#schedule-table th {
    background-color: var(--accent-dark);
}

#schedule-table td {
    background-color: var(--accent-bright);
}

#schedule-table td > span.location {
    margin-top: 10px;
    font-weight: lighter;
    display: none;
}

#schedule-table span.right,
#schedule-table span.left {
    display: inline-block;
    transition: transform 0.5s;
    user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -o-user-select: none;
}

#schedule-table span.right {
    float: right;
}
#schedule-table span.right:hover {
    transform: translateX(5px);
}

#schedule-table span.left {
    float: left;
}
#schedule-table span.left:hover {
    transform: translateX(-5px);
}

#schedule-table .saturday span.left,
#schedule-table .sunday span.right {
    transform: none;
    cursor: default;
    color: gray;
}
